.page.theme_light {
  --title-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --heading-color: #FFC2E6;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --accent-color-theme: #353430;
  --accent-color-hover: #32312D44;
  --padding-inline: 20px;
  --padding-block: 60px;

  --display: none;

  --main-font: 'IBM Plex mono';
}

@media (width <= 376px) {
  .page.theme_light {
    --padding-inline: 10px;
    --padding-block: 40px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --heading-color: #FFC2E6;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --accent-color-theme: #353430;
    --accent-color-hover: #32312D44;
    --padding-inline: 20px;
    --padding-block: 60px;

    --display: none;
  
    --main-font: 'IBM Plex mono';
    }
}

@media (prefers-color-scheme: light) and (width <= 376px) {
  :root {
    --padding-inline: 10px;
    --padding-block: 40px;
  }
}