/* header */

.page {
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content-section {
  padding-inline: var(--padding-inline, 20px);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr 1fr;
  padding-block: var(--padding-inline, 20px);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-inline-end: var(--padding-inline, 20px);
  inset-block-start: var(--padding-inline, 20px);
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: var(--accent-color-theme, #FF0070) 1px solid;
  border-block-start: var(--accent-color-theme, #FF0070) 1px solid;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-inline-start: var(--padding-inline, 20px);
  inset-block-end: var(--padding-inline, 20px);
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: var(--accent-color-theme, #FF0070) 1px solid;
  border-block-end: var(--accent-color-theme, #FF0070) 1px solid;
}

.header__theme-menu {
  grid-column: 1 / 3;
}

.header__theme-menu-list {
  list-style: none;
  font-family: var(--main-font), 'Courier New', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: var(--accent-color-theme, #FF0070);
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  background-color: transparent;
  text-transform: lowercase;
  user-select: none;
  transition: border 0.6s;
}

.header__theme-menu-button:hover {
  border: var(--accent-color-hover, #FF007044) 1px solid;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: var(--accent-color-theme, #FF0070) 1px solid;
}

.header__theme-menu-button_active {
  border: var(--accent-color-theme, #FF0070) 1px solid;
  pointer-events: none;
}

.decor-element {
  font-family: var(--main-font), 'Courier New', monospace;
  color: var(--accent-color, #FF0070);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.38;
  position: absolute;
  inset-inline-end: calc(var(--padding-inline) + 9px);
  inset-block-start: var(--padding-inline);
  block-size: 26px;
  inline-size: 52px;
  display: var(--display);
}

.decor-element::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 9px;
  background-color: var(--accent-color, #FF0070);
  position: absolute;
  inset-block-start: calc(13px - (9px / 2));
  inset-inline-end: 0;
  box-shadow: 0.2px 0.2px 10px 2.5px var(--accent-color, #FF0070);
}

.heading {
  text-transform: lowercase;
  font-family: var(--main-font), 'Courier New', monospace;
  font-weight: bold;
  color: var(--heading-color, #DB00FF);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--heading-color-shadow, #FF0070);
  grid-column: 1 / 3;
  margin-inline-start: -20px;
}

.header-title {
  block-size: min-content;
  grid-column: 2 / 3;
  align-self: center;
}

.title-decor {
  font-family: var(--main-font), 'Courier New', monospace;
  font-weight: bold;
  color: var(--title-color, #000028);
  font-size: 18px;
  background-color: var(--accent-color, #FF0070);
  text-align: start;
  line-height: 1.3;
}

/* main section */

.main__content {
  padding-block: var(--padding-block, 60px);
}

.main__section {
  padding-block-end: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section__title {
  font-size: 18px;
  font-family: var(--main-font), 'Courier New', monospace;
  line-height: 1.3;
  color: var(--accent-color-theme, #FF0070);
  font-weight: bold;
}

.section__list {
  grid-column: 2 / 4;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
}

.section__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__description {
  font-family: var(--main-font), 'Courier New', monospace;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
  color: var(--text-color, #F1B2CE);
}

.section__link {
  text-decoration: none;
  text-shadow: 3px 2px 0 var(--accent-color, #FF0070);
}

.section__link:hover {
  border-block-end: var(--text-color, #F1B2CE) 1px solid;
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: var(--text-color, #F1B2CE) 1px solid;
}

.section-column {
  grid-template-rows: min-content 1fr;
}

.section-column > .section__list {
  grid-row: 2;
  grid-column: 1 / 4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.section__advice {
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__advice .section__list .title-decor {
  font-weight: normal;
}

.section__gallery {
  display: flex;
  flex-direction: column;
  gap: var(--padding-inline, 20px);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: fit-content(260px) fit-content(315px) fit-content(432px);
  gap: var(--padding-inline, 20px);
  grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.sunset-area {
  grid-area: sunset;
}

.ice-cream-area {
  grid-area: ice-cream;
}

.tape-area {
  grid-area: tape;
}

.books-area {
  grid-area: books
}

.street-area {
  grid-area: street;
}

.gallery-item {
  object-position: center;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

/* footer */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  padding-block: var(--padding-inline, 20px);
}

.footer__title {
  text-transform: lowercase;
  font-family: var(--main-font), 'Courier New', monospace;
  font-weight: bold;
  color: var(--heading-color, #DB00FF);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 0.825 ;
  text-shadow: 2px 2px 0 var(--heading-color-shadow);
}

/* media запросы */

@media (width <= 768px) {
  .header__theme-menu {
    align-self: center;
    justify-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 15px;
  }

  .heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  
  .main__section {
    grid-template-columns: 1fr 2fr;
  }

  .section__list {
    grid-column: span 1;
  }

  .section__advice {
    grid-column: span 1;
  }

  .section-column > .section__list {
    grid-row: 2;
    grid-column: 1 / 4;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width <= 767px) {
  :root {
    --padding-inline: 10px;
    --padding-block: 40px;
  }
  
  .header {
    grid-template-columns: 1fr;
  }

  .heading {
    margin-inline-start: 0;
  }

  .main__section {
    grid-template-columns: 1fr;
    padding-block-end: 50px;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(142px, 1fr));
    grid-template-areas: none;
  }

  .sunset-area, 
  .ice-cream-area,
  .tape-area,
  .books-area,
  .street-area {
    grid-area: auto;
  }
}